{% extends 'admin/base_admin.html' %}
{% block content %}
{% if current_user.moderator %}
{% include 'navbar_moderator.html' %}
{% elif current_user.admin %}
{% include 'navbar_admin.html' %}
{% endif %}
<section class="vh-100" style="background-color: #eee;">
    <form method="POST" class="form-signin" style="color:white">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 text-center">
                                    {% from "_formhelpers.html" import render_field %}
                                    {% include '_messages.html' %}
                                    {% if brands %}
                                    <div class="text-center  p-2 h3 mb-3">Prześlij
                                    </div>
                                    <form method=post>
                                        <div>
                                            <form action="" method="post">
                                                {% if update_brand %}
                                                <input type="text" name="brand" class="form-control"
                                                       value="{{update_brand.name}}">
                                                <input type="submit" value="Zaktualizuj" class="btn btn-info mt-3">
                                                {% else %}
                                                <input type="text" name="brand" class="form-control">
                                                <input type="submit" value="Prześlij" class="btn btn-info mt-3">
                                                {% endif %}

                                            </form>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>


{% endblock content %}