{% extends 'customer/base_customer.html' %}
{% block content %}
{% include 'navbar_customer.html' %}

<section class="py-5">

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{url_for('static', filename='images/' + product.image)}}"
                         class="card-img-top" alt="{{product.name}}" height="200" width="200" alt="..."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product price-->
                            {{product.price}} zł
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="{{url_for('detail_page',id=product.id)}}"
                               class="float-left btn btn-sm btn-primary">Szczegóły</a>
                            <form action="{{url_for('add_cart')}}" method="post">
                                <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                                <input type="hidden" name="quantity" value="1" min="1" max="20">
                            </form>

                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock content %}