{% extends 'admin/base_admin.html' %}
{% block title %}
Producent
{% endblock %}
{% block content %}
{% if current_user.admin == '1' %}
{% include 'navbar_admin.html' %}
{% elif current_user.moderator == '1' %}
{% include 'navbar_moderator.html' %}
{% endif %}
<div class="container">
    {% include '_messages.html' %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Edycja</th>
            <th scope="col">Usuwanie</th>
        </tr>
        </thead>
        <tbody>
        {% if brands %}
        {% for brand in brands %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ brand.name }}</td>
            <td><a href="{{url_for('update_brand', id=brand.id)}}" class="btn btn-sm btn-info">X</a></td>
            <td>
                <form action="{{url_for('delete_brand',id=brand.id)}}" method="post">
                    <button type="submit" class="btn btn-danger">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
{% endblock content %}